[Desktop Entry]
Name=Eclipse IDE
Exec=/home/gabriel/Downloads/eclipse/eclipse %u
NoDisplay=true
Categories=POO;
Type=Application
MimeType=x-scheme-handler/eclipse+command;x-scheme-handler/eclipse+mpc;