[Desktop Entry]
Name=xCHM
Comment=View CHM files
Exec=xchm %f
Terminal=false
Type=Application
Icon=xchm
Categories=BD;Viewer;Utility;
MimeType=application/x-chm;application/vnd.ms-htmlhelp;
StartupNotify=true
